<br/>
<div class="panel panel-primary">
    <div class="panel-heading">
        CustomerForm
    </div>
    <div class="panel-body">
        <form #form="ngForm" (submit)="submitForm(form)">
            <div class="form-group" [class.has-error]="email.invalid && email.touched">
                    <label for="mail"
                    class="control-label">Email</label>
                    <input class="form-control"
                    id="mail"
                    pattern="^([a-z0-9_]+)@([a-z0-9]+)\.([a-z]{2,5})$"
                    [(ngModel)]="mycustomer.email"
                    #email="ngModel"
                    name="email"/>
                    <div class="alert alert-danger" *ngIf="email.invalid && email.touched">
                        Enter valid email
                    </div>
            </div>
            <div class="form-group" [class.has-error]="password.invalid && password.touched">
                    <label for="pass"
                    class="control-label">Password</label>
                    <input class="form-control"
                    id="pass"
                    type="password"
                    [(ngModel)]="mycustomer.password"
                    #password="ngModel"
                    minlength="5"
                    name="password"/>
                    <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
                        Min length is 5
                    </div>
            </div>
            
            <button class="btn btn-success"
                    type="submit">
                    Submit
            </button> &nbsp;
            <button class="btn btn-danger"
                type="reset">
                Reset
            </button>
        </form>
    </div>
</div>
