<br/>
<div class="panel panel-primary">
    <div class="panel-heading">
        CustomerForm
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label for="fName">FirstName</label>
                <input class="form-control"
                name="firstName"
                [(ngModel)]="mycustomer.firstName"
                id="fName"
                />
                <div class="alert alert-danger" *ngIf="">

                </div>
            </div>
            <div class="form-group">
                    <label for="lName">LastName</label>
                    <input class="form-control"
                    id="lName"
                    [(ngModel)]="mycustomer.lastName"
                    name="lastName"/>
                    <div class="alert alert-danger" *ngIf="">
    
                    </div>
            </div>
            <div class="form-group">
                    <label for="mail">Email</label>
                    <input class="form-control"
                    id="mail"
                    [(ngModel)]="mycustomer.email"
                    name="email"/>
                    <div class="alert alert-danger" *ngIf="">
    
                    </div>
            </div>
            <div class="form-group">
                    <label for="pass">Password</label>
                    <input class="form-control"
                    id="pass"
                    type="password"
                    [(ngModel)]="mycustomer.password"
                    name="password"/>
                    <div class="alert alert-danger" *ngIf="">
    
                    </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="fulltime"
                    value="fulltime"
                    [(ngModel)]="mycustomer.fulltime">
                    FullTime
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio"
                        name="gender"
                        value="female"
                        [(ngModel)]="mycustomer.gender"/>Female
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio"
                        name="gender"
                        value="male"
                        [(ngModel)]="mycustomer.gender"/>Male
                </label>
            </div>
            <div class="form-group">
                    <label for="clang">Code Lang</label>
                        <select class="form-control"
                        name="codelang"
                        [(ngModel)]="mycustomer.codelang"
                        id="clang"
                        >
                            <option>Angular</option>
                            <option>React</option>
                            <option>Node</option>   
                        </select>
            </div>
            <button class="btn btn-success"
                    type="submit">
                    Submit
            </button> &nbsp;
            <button class="btn btn-danger"
                type="reset">
                Reset
            </button>
        </form>
    </div>
</div>
